.mt-10.flex.items-center.gap-x-6
    a.rounded-md.bg-indigo-600.text-sm.font-semibold.text-white.shadow-sm(class='px-3.5 py-2.5 hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600' href='/examples') Examples
        a.text-sm.font-semibold.leading-6.text-gray-900(href='https://github.com/aaronmyatt/pipedown')
            | View on GitHub 
            span(aria-hidden='true') &rarr;